server {
    listen 0.0.0.0:${RPC_PORT};

    location / {
      resolver ${DNS} valid=5s;
      proxy_pass ${RPC_ENDPOINT};
      proxy_http_version 1.1;
      proxy_set_header Connection "";
    }
}
